.profile {
  margin-right: 5rem;
}

.dropdown-menu {
  top: 100%;
}

.profileimage {
  padding: 0 1rem;
}

.logo {
  height: auto;
  max-width: 45%;
}

.hero {
  padding-top: 7rem;
}

.hook {
  color: rgb(109, 255, 99) !important ;
}

svg g {
  fill: #6dff63 !important;
}

.slogan {
  background: #28f1ff;
  padding: 8px;
  border-radius: 40px;
}

// scrollbar style
body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #6dff63; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #6dff63; /* creates padding around scroll thumb */
}

.profile-nav {
  cursor: pointer;
}

.logout:hover {
  background: linear-gradient(#6dff63, #28f1ff);
}

.logout {
  border-radius: 9px;
  text-align: center;
}

.dropdown-item {
  font-weight: 500 !important;
}

//dashboard

.dashboard-links {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: rgb(236, 236, 236);
}

.nav-dash {
  padding: 1rem 2rem;
  width: 60%;
}
.mylink {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  text-decoration: none;
}

.linkDashboard {
  transition: 0.7s;
  color: rgb(1, 77, 81) !important;
}
.active {
  color: black !important;
  scale: 1.1 !important;
}

/**/
.earchfield:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.25rem rgb(109, 255, 99) !important;
}

.custom-select {
  word-wrap: normal;
  padding: 0.2rem 1.5rem;
  font-weight: 500;
  border: 1px solid #ced4da;
}

.custom-select:focus {
  border-color: #3ef2fe !important;
}

.btn-upload {
  background-color: #6dff63 !important;
  font-weight: 500;
}

.btn-primary {
  background: #6dff63 !important;
  border: none;
  box-shadow: none !important;
}

.shadow-box {
  box-shadow: 7px 0px 0px 0px rgb(0 0 0 / 20%);
}

/*lOADER */
.sl-bubble2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 85;
  left: -6%;
  background: #0000001f;
}

/*alter*/
.close {
  float: right;
  border: none;
  background: red;
  font-weight: 800;
  color: white;
  border-radius: 50%;
}

.alert {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
}

.form-control {
  box-shadow: #6dff63 !important;
}

/*BUTTONS */

.btn {
  transition: 0.6s;
}

.btn:hover {
  scale: 0.9;
}

.card {
  overflow: hidden;
}

.card-img-top {
  transition: 0.4;
}

.card:hover {
  .card-img-top {
    scale: 1.1;
  }
}

.delete-icon .edit-icon {
  transition: 0.3;
}
.delete-icon:hover {
  color: rgba(160, 58, 58, 0.548);
  scale: 1.1;
}

.edit-icon:hover {
  scale: 1.1;
}

/* GENERAL */

td {
  vertical-align: middle;
}
